#container {
    background-color: #C5DFF8;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content {
    background-color: #7895CB;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
body {
    font-family: Arial, sans-serif;
    color: #333; /* Color de fuente principal */
}

.weather-description {
    color: #3E001F;
    font-size: 24px;
    font-weight: bold;
}

#temperature {
    color: #333;
    font-size: 48px;
    font-weight: bold;
}

#weather-icon {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-left: 95px;
}

footer {
    background-color: #7895CB;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 14px;
    color: #2D4356;
}